<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.codmci.slave</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/python3</string>
		<string>-u</string>
        <string>~/.codmci/client.py</string>
        <string>-p</string>
        <string>12345</string>
		<string>-s</string>
        <string>localhost</string>
	</array>
	<key>StandardOutPath</key>
	<string>~/.codmci/log/slave/client.log</string>
	<key>StandardErrorPath</key>
	<string>~/.codmci/log/slave/error.log</string>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
    <true/>
</dict>
</plist>